.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding: 16px;

  &::before {
    backdrop-filter: blur(6px);
    inset: 0;
    content: '';
    position: absolute;
    z-index: 0;
    background: linear-gradient(
      180deg,
      #14161f -124.12%,
      rgb(20 22 31 / 0%) 100%
    );
  }

  // @include vp-375 {
  // }
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__nav-btn {
  position: relative;
  z-index: 12;
  cursor: pointer;
}

.header__nav {
  inset: 0;
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 124px 16px 40px;
  background-color: $color-dark;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.2s,
    opacity 0.4s linear;
}

.header__nav-toggle {
  display: none;
}

.header__btn-line {
  width: 24px;
  height: 2px;
  background-color: $color-primary;
}

.header__nav-toggle:checked ~ .header__nav {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s,
    opacity 0.6s linear;
}

.header__nav-toggle:checked
  ~ .header__nav-btn
  > .header__btn-wrapper
  > .header__btn-line:nth-of-type(1) {
  transform: rotate(45deg) translate(-4px, -4px);
  transform-origin: left;
  transition: 0.3s linear;
}

.header__nav-toggle:checked
  ~ .header__nav-btn
  > .header__btn-wrapper
  > .header__btn-line:nth-of-type(2) {
  display: none;
}

.header__nav-toggle:checked
  ~ .header__nav-btn
  > .header__btn-wrapper
  > .header__btn-line:nth-of-type(3) {
  transform: rotate(-45deg) translate(-4px, 4px);
  transform-origin: left;
  transition: 0.2s linear;
}

.header__nav-list {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: max-content;
  padding: 0;
  list-style: none;
}

.header__nav-list-item:last-of-type {
  margin: 0;
}

.header__popup-button {
  align-self: self-start;
  width: 100%;
  min-width: 190px;
  height: max-content;
  margin-top: auto;
}

.header__btn-wrapper {
  gap: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  pointer-events: none;
}
