.services {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
  padding-bottom: 80px;

  @include vp-576 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}

.services__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  @include vp-576 {
    margin: 0;
  }
}

.services__list {
  gap: 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-bottom: 56px;
  list-style: none;

  @include vp-576 {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
    column-gap: 16px;
  }
}

.services__secondary-list {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  list-style: none;

  @include vp-576 {
    grid-column: 1 / span 2;
  }
}

.services__btn {
  justify-self: center;
  max-width: fit-content;
  margin-bottom: 64px;
  text-decoration: none;

  @include vp-576 {
    grid-column: 1 / span 2;
  }
}

.services__gradient-btn {
  width: 100%;
  max-height: 120px;
  padding: 41px;
  background-color: transparent;
  background-image: image-set(
    url('../assets/images/btn-bg@1x.avif') 1x,
    url('../assets/images/btn-bg@2x.avif') 2x,
    url('../assets/images/btn-bg@1x.webp') 1x,
    url('../assets/images/btn-bg@2x.webp') 2x,
    url('../assets/images/btn-bg@1x.png') 1x,
    url('../assets/images/btn-bg@2x.png') 2x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
  border-radius: 112px;
  cursor: pointer;
  transition: background-size $time-1 $cubic-bezier;

  &:hover {
    background-size: 200%;
  }

  @include vp-576 {
    grid-column: 1 / span 2;
  }
}

.services__gradient-text {
  mix-blend-mode: difference;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: $color-primary;
  letter-spacing: -0.06em;
}

.services__list--hidden {
  display: none;
}
