.service-card {
  position: relative;
  display: block;
  max-width: 400px;
  text-decoration: none;

  @include vp-1024 {
    max-width: 100%;
  }

  @include vp-1200 {
    &::after {
      content: '...';
      position: absolute;
      bottom: -44px;
      left: 0;
      width: 48px;
      height: 34px;
      font-size: 34px;
      line-height: 0.4;
      text-align: center;
      color: $color-primary;
      letter-spacing: -0.02em;
      border: 2px solid $color-primary;
      border-radius: 48px;
      transition: opacity $time-2 $cubic-bezier;
    }
  }

  &:hover::after {
    opacity: 0;
  }
}

.service-card__title-wrapper {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;
  padding-top: 22px;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-bottom: none;
  transition: border $time-2 $cubic-bezier;

  @include vp-1200 {
    gap: 40px;
  }
}

.service-card__title {
  max-width: 80%;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  transition: color $time-2 $cubic-bezier;

  @include vp-1024 {
    font-size: 47px;
  }
}

.service-card__icon {
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  width: 70px;
  height: 70px;
  background-color: $color-primary;
  transition:
    background $time-2 $cubic-bezier,
    width $time-2 $cubic-bezier,
    height $time-2 $cubic-bezier;

  @include vp-1024 {
    width: 150px;
    height: 150px;
  }

  @include vp-1200 {
    width: 220px;
    height: 220px;
  }
}

.service-card__icon--research {
  mask-image: url('../assets/icons/sprite.svg#sphere');
}

.service-card__icon--brand {
  mask-image: url('../assets/icons/sprite.svg#star');
}

.service-card__icon--strategy {
  mask-image: url('../assets/icons/sprite.svg#arrow');
}

.service-card__subtitle {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1;
  color: $color-primary;
  letter-spacing: -0.06em;
  transition: color $time-2 $cubic-bezier;

  @include vp-1024 {
    font-size: 29px;
  }
}

.service-card__description {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.4;
  color: $color-primary;
  letter-spacing: -0.04em;
  transition: color $time-2 $cubic-bezier;

  @include vp-1024 {
    font-size: 18px;
  }
}

.service-card:hover .service-card__title-wrapper,
.service-card:hover .service-card__tags-item {
  color: $color-bright;
  border-color: $color-bright;
}

.service-card:hover .service-card__subtitle,
.service-card:hover .service-card__description {
  color: $color-bright;
}

.service-card:hover .service-card__icon {
  background-color: $color-bright;

  @include vp-1024 {
    width: 100px;
    height: 100px;
  }
}

.service-card:hover .service-card__tags {
  max-height: 300px;
}
