@font-face {
  font-family: TTNorms;
  src:
    url('../assets/fonts/TTNorms-Regular.woff2') format('woff2'),
    url('../assets/fonts/TTNorms-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src:
    url('../assets/fonts/TTNorms-Medium.woff2') format('woff2'),
    url('../assets/fonts/TTNorms-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src:
    url('../assets/fonts/TTNorms-Bold.woff2') format('woff2'),
    url('../assets/fonts/TTNorms-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
