/* Colors */
$color-dark: #000;
$color-bright: #fff557;
$color-primary: #d8e6f1;

/* Fonts */
$font-family-primary: 'TTNorms', sans-serif;

/* Times */
$time-1: 1.2s;
$time-2: 0.4s;

/* Animations */
$cubic-bezier: cubic-bezier(0, -0.01, 0.25, 1);

/* Breakpoints */
$vp-320: 320px;
$vp-375: 375px;
$vp-480: 480px;
$vp-576: 576px;
$vp-640: 640px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1536: 1536px;
$vp-1920: 1920px;
